<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sqlitecomponentes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SQLiteComponentes">
        <activity
            android:name=".ListaComponentesRecyclerView"
            android:exported="false" />
        <activity
            android:name=".InfoTiendaComponenteActivity10"
            android:exported="false" />
        <activity
            android:name=".ListViewTiendaActivity9"
            android:exported="false" />
        <activity
            android:name=".RegistroTiendaActivity8"
            android:exported="false" />
        <activity
            android:name=".MostrarDatosComponenteActivity7"
            android:exported="false" />
        <activity
            android:name=".ListaComponentesListViewActivity6"
            android:exported="false" />
        <activity
            android:name=".ListaSpinnerActivity5"
            android:exported="false" />
        <activity
            android:name=".ActualizarComponenteActivity4"
            android:exported="false" />
        <activity
            android:name=".ConsultarComponenteActivity3"
            android:exported="false" />
        <activity
            android:name=".RegistroComponenteActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>